<h1>Artists</h1>
<% @artists.each do |artist| %>
  <div> 
    <h1>@artist.name</h1>
    <div>
      <%= link_to 'Show', artist_path(artist) %>
      <%= link_to 'Edit', edit_artist_path(artist) %>
      <%= link_to 'Destroy', artist_path(artist), method: :delete %>
  </div>
<% end %>
<br />
<%= link_to 'New Artist', new_artist_path %>

