<div class="ui segments">
  <div id="gradient">
      <div class="ui small circular image">
        <%= image_tag(@artist.image) %>
      </div>
      <h1 class="artist-header"><%= @artist.name %></h1>
  </div>
  <div class="ui inverted segment" >
   <%= link_to 'Edit', edit_artist_path(@artist) %> |
   <%= link_to 'Destroy', artist_path(@artist), method: :delete %>
  </div>
</div>

