#gradient {
	// background-image: url("<%= image_tag url_for(artist.image) %>");
	background:
			linear-gradient(45deg, black, #337b32, black);
	background-blend-mode: screen;
	text-align: center;
	padding-top: 23px;
}

.artist-header {
	color: white;
}

a {
	color: white;
}
