body {
	margin: 0px;
}

#gradient {
	// background-image: url("url_for(@artist.image");

/*	
	background: 
    repeating-radial-gradient(
      circle at 0 0, 
      #eee,
      #ccc 50px
			);
*/			
	background:
			linear-gradient(25deg, black 30%, #337b32, black);
	background-blend-mode: screen;
	text-align: center;
	padding-top: 23px;
}

.artist-header {
	color: white;
}

.artist_links {
	color: white;
}
